@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@keyframes start {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
@keyframes end {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
:root[data-theme="light"] {
    --text: #0e0e15;
    --background: #eff1f5;
    --primary: #053076;
    --secondary: #7d7de3;
    --accent: #2121ab;
    --bgaccent: #e6e9ef;
}
:root[data-theme="dark"] {
    --text: #eaeaf1;
    --background: #1e1e2e;
    --primary: #89b5fa;
    --secondary: #1c1c82;
    --accent: #5454de;
    --bgaccent: #232539;
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    font-size: 10px;
    position: relative;
    height: 3.5em;
    width: 7em;
    border: 0px solid transparent;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
}
.toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
}

.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
} 
.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hello {
    color: var(--text);
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    animation-name: start;
    animation-duration: 1s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
}
.box {
    opacity: 0;
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background: var(--bgaccent);
    border: 1px solid #313244;
    animation-name: end;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-fill-mode: both;
    position: absolute;
    left: 15%;
    top: 60px;
    padding-left: 30px;
}
.titlebox {
    opacity: 0;
    width: 600px;
    height: 150px;
    border-radius: 10px;
    background: var(--bgaccent);
    border: 1px solid #313244;
    animation-name: end;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-fill-mode: both;
    position: absolute;
    left: 32.5%;
    top: 60px;
    padding: 30px;
}
.titletext {
    color: var(--text);
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
}
.smalltext {
    color: var(--text);
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    padding-top: 5px;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
  
.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: var(--text);
}
  