:root[data-theme="light"] {
    --text: #0e0e15;
    --background: #eff1f5;
    --primary: #053076;
    --secondary: #7d7de3;
    --accent: #2121ab;
    --bgaccent: #c6c8dc;
  }
  :root[data-theme="dark"] {
    --text: #eaeaf1;
    --background: #1e1e2e;
    --primary: #89b5fa;
    --secondary: #1c1c82;
    --accent: #5454de;
    --bgaccent: #232539;
  }
  
  


.toggle-container {
    position: fixed;
    top: 20px; /* Adjust the top value as needed */
    right: 20px; /* Adjust the right value as needed */
    z-index: 1000;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@keyframes start {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
@keyframes end {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hello {
    color: var(--text);
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    animation-name: start;
    animation-duration: 1s;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
}
.box {
    opacity: 0;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background: var(--bgaccent);
    border: 1px solid #313244;
    animation-name: end;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-fill-mode: both;
    position: absolute;
    left: 15%; /* Adjust this value to set the desired distance from the left */
    top: 60px;
    padding-left: 30px;
}
.titlebox {
    opacity: 0;
    width: 600px;
    height: 150px;
    border-radius: 10px;
    background: var(--bgaccent);
    border: 1px solid #313244;
    animation-name: end;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-fill-mode: both;
    position: absolute;
    left: 32.5%; /* Adjust this value to set the desired distance from the left */
    top: 60px;
    padding-left: 30px;
}



